html {
    height: 2160px;
    overflow: scroll;
    width: 3840px;
}

body {
    background: url(/images/background.png) center center;
    height: 2160px;
    overflow: scroll;
    width: 3840px;
}

#points-of-interest {
    height: 2160px;
    left: 0px;
    overflow: scroll;
    position: absolute;
    top: 0px;
    width: 3840px;
}

#points-of-interest img {
    opacity: .5;
}

.point-of-interest {
    background-clip: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 1px solid #000000;
    height: 150px;
    position: absolute;
    width: 130px;
}

.point-of-interest:hover {
    background-position: -130px 0;
}

.point-of-interest.active {
    background-position: -130px 0;
}

.point-of-interest.baseline-two {
    height: 170px;
}

.point-of-interest.baseline-three {
    height: 190px;
}

.point-of-interest.large {
    width: 230px;
    height: 290px;
}

.point-of-interest.large:hover {
    background-position: -230px 0;
}

.point-of-interest p {
    font-size: 16px;
    line-height: 20px;
    margin-top:130px;
    text-align: center;
}

#current-point-of-interest-description {
    background: #d8d8d8;
    background-clip: padding-box;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    height: 80px;
    line-height: 20px;
    padding: 10px;
    position: absolute;
    width: 180px;
    z-index: 2;
}

.descriptions {
    display: none;
}
.pre-process {
    display: none;
}
.master-planning-process{
    display: none;
}
.comprehensive-planning-process {
    display: none;
}
.neighborhood-planning-process {
    display: none;
}
.overall-planning-process {
    display: none;
}
.information {
    display: none;
}
