html {
    height: 2160px;
    overflow: scroll;
    width: 3840px;
}

body {
    background: url(/images/background.png) center center;
    height: 2160px;
    overflow: scroll;
    width: 3840px;
}

#points-of-interest {
    height: 2160px;
    left: 0px;
    overflow: scroll;
    position: absolute;
    top: 0px;
    width: 3840px;
}

#points-of-interest img {
    opacity: .5;
}

.point-of-interest {
    background-clip: padding-box;
    border: 1px solid #000000;
    border-radius: 50px;
    height: 98px;
    position: absolute;
    width: 98px;
}

.point-of-interest:hover {
    box-shadow: 0px 0px 45px 0px #000000;
}

#current-point-of-interest-description {
    background: #d8d8d8;
    background-clip: padding-box;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    height: 80px;
    line-height: 20px;
    padding: 10px;
    position: absolute;
    width: 180px;
    z-index: 2;
}

.descriptions {
    display: none;
}
.pre-process {
    display: none;
}
.master-planning-process{
    display: none;
}
.comprehensive-planning-process {
    display: none;
}
.neighborhood-planning-process {
    display: none;
}
.overall-planning-process {
    display: none;
}
.information {
    display: none;
}
